table{

    height: 500px;
   
      margin-left: auto ;
      margin-right: auto;
      margin-top: 50px;
      border-collapse: collapse;
      font-family: 'Roboto', sans-serif;
      border: black solid 2px;
     }
     .h1container{
         text-align: center;
         margin: 50px;
         font-family: 'Roboto', sans-serif;
     }
     th,tr,td{
         height: 50px;
         width: 500px ;
         font-family: 'Roboto', sans-serif;
         border: black solid 2px;
     }
     a{
         padding-left: 15px;
         font-family: 'Roboto', sans-serif;
        

     }
     button{
       margin-left:50%;
       padding: 15px;
       font-family: 'Roboto', sans-serif;
     }
     body{
         background-color: beige;
         font-family: 'Roboto', sans-serif;
     }